
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
}
<style>
    body {
        background-image: url('../../images/otel.jpg');
        background-size: cover;
        background-repeat:no-repeat;
    }
</style>
<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-body">
                        <h6>Hakkımızda</h6>
                        <p>
                            Dünyada en tanınan Türkiye markalarından birisi olan Bilge Hotels & Resorts, kökleri Türkiye konukseverlik geleneğinde olan tazelik ve zindeliğin dağlar ve denizlerin enerjisi ile harmanlandığı çağdaş oteller sunar. Akıllı tasarımı, kaliteli sanatkarlığı ve sürdürülebilirliğe yönelik düşünceli yaklaşımı ile Bilge Hotel, konuklarına dünyayı gezmeleri, yaşamın gerçek ödüllerinini keşfetmeleri ve “iyi yaşama” fırsatlarını kucaklamaları için iç huzuru verir. Bilge Hotel markası 1980‘de kuruldu ve bugün Bilge Hotel The Bosphorus‘te bulunan İstanbul, Singapur‘da bulunan Bilge Hotel The Stamford ve Moskova‘de bulunan Bilge Hotel Krasnye Holmy dahil küresel olarak 30‘u aşkın otele sahiptir. Bilge Hotel, seyahat edenleri 4.500‘i aşkın otel, resort ve rezidans yanında dünya çağında en iyi özel evler arasında bulunan 10.000 evde kendilerini evlerinde hissetmelerine davet eden bir seyahat ve yaşam tarzı grubu olan AccorHotels’in bir parçasıdır.


                        </p>
                        <p>
                            Bilge Hotel'in Tarihçesi
                            Yalnızca birkaç otelle 1980 yılında kurulan bu girişim, zamanla beş kıtadaki 17 ülkede delüks otellerden oluşan seçkin ve uluslararası üne sahip bir otel zincirine dönüşmüştür.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>


