@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<head>

</head>
<body>
    <style>
        body{
            background-color:lightgreen;
        }
    </style>
</body>

<p>Use this area to provide additional information.</p>
