@{
    ViewBag.Title = "Contact";
}

<head>
    <title>Bizim ile İletişime Geçin</title>
    <h2>Bizim ile İletişime Geçin</h2>
    <br />
    <br />
</head>
<body>
    <style >
        body {
            background-color: white;
            background-size: cover; /*Tüm ekran ayarlaması için*/
            background-repeat: no-repeat; /* Tekrar etmemesi için*/
        }
    </style>
    <section class="thmv-get-in-touch thmv-bg-dark">
        
          
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-5 col-md-12 thmv-contact-info">
                        <div class="thmv-info-title">



                        </div>
                        <ul>
                            <li>
                                <div class="thmv-info-icon">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div>
                                    <address>

                                        <h5>İletişim Numaramız:</h5>

                                        <abbr title="Phone">(222) 222 22 22</abbr>

                                    </address>

                                </div>
                            </li>
                            <li>
                                <div class="thmv-info-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div>
                                    <h5>Mail Adresimiz:</h5>
                                    <p><a href="#">info_bilgehotel@hotmail.com</a></p>
                                </div>
                            </li>

                            <li>
                                <div>
                                    <address>
                                        <strong>Destek Ekibi İletişim:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />

                                    </address>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <address>
                                        <strong>Pazarlama Ekibi İletişim:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>

                                    </address>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <img src="~/images/iletisim,jpg.jpg" />
                </div>
            </div>
       
        
    </section>
</body>



