@model WebUI.Models.CartItemVM
@{
    ViewBag.Title = "HolidayPackage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class=" container">
        <h2>Tatil Paketi Seçiniz</h2>
        <br />


        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" name="seçim" value="Standart Paket">

        </div>
        <br />

        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" name="seçim" value="Ultra Paket">

        </div>
        <br />

        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" name="seçim" value="Kampanyalı Paket">

        </div>
        <br />
        <h2> Oda Seçimi Yapınız</h2>
        <br />
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" name="seçim" value="Tam Pansiyon">

        </div>
        <br />
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" name="seçim" value="Her şey dahil">

        </div>
        <br />
        <h2>Oda Türü Seçiniz</h2>
        <br />
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" name="seçim" value="Tek kişilik">

        </div>
        <br />
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" name="seçim" value="iki kişilik">

        </div>
        <br />
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" name="seçim" value="Üç kişilik">

        </div>
        <br />
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" name="seçim" value="Dört kişilik">

        </div>
        <br />
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" name="seçim" value="Kral Dairesi">

        </div>
        <br />
        <button class="buton" type="submit">Alışverişi Tamamla</button>
    </div>*@
<main>
    <section>
        <div class="text-secondary px-4 py-5 text-center">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    <h3 style="color:midnightblue">TATİL PAKETLERİ</h3>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                        <div class="card-body">
                            <table id="datatablesSimple" class="table table-bordered">

                                <tbody>
                                    @foreach (var tatil in TempData["tatilPaketleri"] as List<DataAccses.Entity.HolidayPackage>
                                        )
                                    {
                                        <tr>
                                            <td>@tatil.PaketAdi</td>
                                            <td>
                                                <div class="text-center">
                                                    @Html.ActionLink("Seç", "AddPackageToCart", "Rezervasyon", new { id = tatil.HolidayPackageId }, new { @class = "btn btn-outline-dark mt-auto" })
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                        <div>

                            @*@Html.ActionLink("Alışverişi Tamamla", "", "Home", null, new { @class = "btn btn-outline-dark" })
                        <meta http-equiv="refresh" content="3;Basket">*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

