@model WebUI.Models.CartItemVM
@{
    ViewBag.Title = "HolidayPackage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>
    <section>
        <div class="text-secondary px-4 py-5 text-center">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    <h3 style="color:midnightblue">TATİL PAKETLERİ</h3>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                        <div class="card-body">
                            <table id="datatablesSimple" class="table table-bordered">

                                <tbody>
                                    @foreach (var tatil in TempData["tatilPaketleri"] as List<DataAccses.Entity.HolidayPackage>
                                        )
                                    {
                                        <tr>
                                            <td>@tatil.PaketAdi</td>
                                            <td>
                                                <div class="text-center">
                                                    @Html.ActionLink("Seç", "MyCart", "Home", new { id = tatil.HolidayPackageId }, new { @class = "btn btn-outline-dark mt-auto" })
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                        <div>

                            @*@Html.ActionLink("Alışverişi Tamamla", "", "Home", null, new { @class = "btn btn-outline-dark" })
                        <meta http-equiv="refresh" content="3;Basket">*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

