@model WebUI.Models.CartItemVM
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section>
        <div class="text-secondary px-4 py-5 text-center">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    <h3 style="color:midnightblue">Lütfen istediğiniz rezervasyon tarihini seçiniz</h3>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                        <div class="card-body">
                            <form method="post">

                                <h3> <strong>Rezervasyon Başlangıç Tarihi:</strong></h3>
                                <br />
                                <input type="date" name="rezervasyon" class="form-control" />
                                <br />
                                <h3> <strong>Rezervasyon Bitiş Tarihi: </strong></h3>
                                <br />
                                <input type="date" name="rezervasyon" class="form-control" />
                                <br /><br />
                                @Html.ActionLink("Rezervasyon Oluştur!", "HolidayPackage", "Home", null, new { @class = "btn btn-outline-danger" })
                            </form>
                        </div>

                    </div>


                   

                </div>
                <div class="col-lg-6 mx-auto">
                    <h3 style="color:midnightblue">Lütfen istediğiniz oda tipini seçiniz</h3>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                        <div class="card-body">
                            <table id="datatablesSimple" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Odalar</th>
                                        <th>Kişi Kapasitesi</th>
                                        <th>Fiyat</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in TempData["odalar"] as List<DataAccses.Entity.RoomType>)
                                    {
                                        <tr>
                                            <td>
                                                @item.OdaTipi

                                            </td>
                                            <td>@item.OdaTuru </td>
                                            <td>
                                                @item.Fiyat

                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>

                    </div>


                 

                </div>
            </div>
        </div>
        
    </section>
</main>




